* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}

.title {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, -0.875rem + 8.333333vw, 4rem);
  color: white;
  opacity: 0.7;
  text-align: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.main-menu {
  color: white;
  /* font-weight: 600; */
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width: fit-content;
  gap: 1rem;
  padding: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add focus to label */
#titleDisplay:focus ~ menu label[for="titleDisplay"],
#snowDisplay:focus ~ menu label[for="snowDisplay"] {
  outline: 1px solid white;
  border-radius: 1px;
  outline-offset: 4px;
}

/* Set initial icon to label*/
.material-symbols-outlined::after {
  content: 'visibility';
}

/* Make title disapear using checkbox */
#titleDisplay:checked ~ .title {
  opacity: 0;
}

/* Add decoration to label when checked */
#titleDisplay:checked ~ menu label[for="titleDisplay"],
#snowDisplay:checked ~ menu label[for="snowDisplay"] {
  text-decoration: line-through;
  opacity: 0.5;
}

/* change icon when checked */
#titleDisplay:checked ~ menu label[for="titleDisplay"] .material-symbols-outlined::after,
#snowDisplay:checked ~ menu label[for="snowDisplay"] .material-symbols-outlined::after {
  content: 'visibility_off';
}

/* Hide checkbox */
input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}