* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

h1 {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  color: white;
  opacity: 0.7;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
